body {
  margin: 0;
}

body {
  margin: 0;
}

/* ヘッダー中央 */
header {
  display: flex;
  justify-content: center;
}

/* ===== ロゴ全体 ===== */
.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 60px auto;

  width: fit-content;   /* ← 超重要：中身ぴったり */
  text-align: center;
}

/* 英字 */
.brand-en {
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 0.35em;
}

/* 漢字 */
.brand-ja {
  font-size: 64px;
  font-weight: 800;
}

/* ===== キャッチコピー ===== */
.catch {
  font-size: 40px;
  margin-bottom: 60px;
  color: #6b5e52;
   width: fit-content;   /* ← 超重要：中身ぴったり */
  text-align: center;
}

/* ===== 写真 ===== */
.gallery {
  max-width: 1100px;
  margin: 0 auto 80px;
}

.gallery img {
  width: 100%;
  margin-bottom: 30px;
  display: block;
}

/* ===== コンセプト ===== */
.concept {
  font-size: 18px;
  line-height: 2;
  margin: 80px auto;
  max-width: 600px;
}

/* ===== 料金 ===== */
.menu {
  background: #ede7de;
  padding: 80px 20px;
}

.menu h2 {
  margin-bottom: 40px;
}

.course {
  margin-bottom: 30px;
}

.course h3 {
  font-size: 26px;
  font-weight: 600;
}

.first {
  margin-top: 40px;
}

/* ===== 予約 ===== */
.reservation {
  margin: 80px 0;
}

.tel {
  font-size: 32px;
  margin-top: 10px;
  letter-spacing: 0.1em;
}

/* ===== 地図 ===== */
.access iframe {
  width: 90%;
  max-width: 700px;
  height: 400px;
  border: 0;
  margin-top: 40px;
}

.access p {
  margin: 30px 0 80px;
}

/* ===== フッター ===== */
footer {
  padding: 30px 0;
  font-size: 14px;
  color: #888;
}

 /* メイン入口写真 */
.main-photo {
  max-width: 1000px;
  margin: 40px auto 80px;
}

.main-photo img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

